{% extends 'logged/aptekarz/main.html.twig' %}


{% block body %}
    {{  parent() }}

    <script>
        document.getElementById("leki").classList.add('active');
    </script>

    <div class="container">
        <h2>Wyszukaj lek</h2>
        {{ form(search_form) }}
    </div>

    {% if lekiList != null %}
        {% if lekiList is empty %}
            <div class="container">
                <p>
                    Nie znaleziono leku spełniającego wymagania!
                </p>
            </div>
        {% endif %}
        {% for lek in lekiList %}
            <div class="container">
                <p>
                <center>
                    <h2><b>Lek: {{ lek.name }}</b></h2>
                    <b>Ilość:</b> {{ lek.ilosc }} <br>
                    <b>Cena:</b>  {{( lek.cena )|number_format(2, '.') }}<br>
                </center>
                </p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}