{% extends 'logged/aptekarz/main.html.twig' %}

{%  block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/lekTable.css') }}">
{% endblock %}

{% block body %}
    {{  parent() }}

    <script>
        document.getElementById("magazyn").classList.add('active');
    </script>

    <div class="container">
    <h1>Dostępne leki</h1>
        <center>
        {% if lekiList != null %}
            <table id="leki">
            <tr class="header">
                <td>Nazwa</td>
                <td>Cena</td>
                <td>Dostępność</td>
                <td>Ilość</td>
            </tr>
            {% for lek in lekiList %}
                    <tr class =emp>
                        <td>{{ lek.name }}</td>
                        <td>{{ lek.cena }}</td>
                        <td>{% if lek.ilosc > 0 %}
                                Dostępny
                            {% else %}
                                Niedostępny
                            {% endif %}
                        </td>
                        <td>{{ lek.ilosc }}</td>
                    </tr>
            {% endfor %}
            </table>
        {% endif %}
        </center>
    </div>

{% endblock %}