{% extends 'logged/aptekarz/main.html.twig' %}


{% block body %}
    {{  parent() }}

    <div class="container">
        <h2>Wyszukaj lek</h2>
        {{ form(search_form) }}
    </div>

    {% if receptaList != null %}
        {% if receptaList is empty %}
            <div class="container">
                <p>
                    Nie znaleziono leku spełniającego wymagania!
                </p>
            </div>
        {% endif %}
        {% for recepta in receptaList %}
            <div class="container">
                <p>
                <center>
                    <h2><b>Lek: {{ lek.name }}</b></h2>
                    <b>Ilość:</b> {{ lek.ilosc }} <br>
                    <b>Cena:</b>  {{( lek.cena )|number_format(2, '.') }}<br>
                </center>
                </p>
            </div>
        {% endfor %}
    {% endif %}

    <style>
        .container {
            font-family: Arial, sans-serif;
            text-align: center;
            overflow: hidden;
            max-width: 500px;
            margin: auto;
            top: 30px;
            position: relative;
            padding: 50px 20px;
            border: transparent;
        }
    </style>

{% endblock %}