{% extends 'logged/aptekarz/main.html.twig' %}


{% block body %}
    {{  parent() }}

    <div class="container">
        <h2>Wyszukaj lek</h2>
        {{ form(search_form) }}
    </div>

    {% if receptaList != null %}
        {% for recepta in receptaList %}
            <div class="container">
                <p>
                <center>
                    <h2><b>Data:</b>  {{( recepta.date )|date('d-m-Y') }}</h2>
                    <br>
                    <b>Pacjent:</b> {{ recepta.pimie }} {{ recepta.pnazwisko }}<br>
                    <b>Lekarz:</b> {{ recepta.limie }} {{ recepta.lnazwisko }}<br>
                    <b>Nr tel lekarza:</b> {{ recepta.ltel }}<br>
                    <b>Nazwa leku:</b> {{ recepta.lnamek }}<br>
                    {% if  recepta.ilosc <= 0%}
                        <b><font color="red">Brak leku</font></b>
                    {% else %}
                        <b>Ilość:</b> {{ recepta.ilosc }}
                        <button onclick="location.href='{{ url('zrealizujRecepte',{'nrR': recepta.id }) }}'">Zrealizuj</button>
                    {% endif %}
                </center>
                </p>
            </div>
        {% endfor %}
    {% endif %}

    <style>
        .container {
            font-family: Arial, sans-serif;
            text-align: center;
            overflow: hidden;
            max-width: 500px;
            margin: auto;
            top: 30px;
            position: relative;
            padding: 50px 20px;
            border: transparent;
        }
    </style>

{% endblock %}