{% extends 'logged/lekarz/main.html.twig' %}


{% block body %}
    {{  parent() }}

    <div class="container">
        <h1>Witaj, {{ lekarz[0].imie }} {{ lekarz[0].nazwisko }}!</h1>
        {% if wizytyList != null %}
            <h3>Wizyty na dzień {{ (wizytyList[0].date)|date('d m Y') }}</h3>
            {% for wizyta in wizytyList %}
                <p>
                    Godzina: {{ (wizyta.time)|date('H:i') }}<br>
                    {{ wizyta.imie }} {{ wizyta.nazwisko }}<br>
                    Telefon: {{ wizyta.telephone}}<br>
                </p>
            {% endfor %}
        {% else %}
            Brak wizyt na dzisiaj!
        {% endif %}
    </div>



    <style>
        .container {
            font-family: Arial, sans-serif;
            text-align: center;
            overflow: hidden;
            max-width: 500px;
            margin: auto;
            top: 30px;
            position: relative;
            padding: 50px 20px;
            border: transparent;
        }

        red {
            font-family: Arial, sans-serif;
            text-align: center;
            overflow: hidden;
            color: red;
        }
{% endblock %}