{% extends 'logged/lekarz/main.html.twig' %}

{%  block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    {{  parent() }}


    <div class="container">
        <h2>Wyszukaj pacjenta</h2>
        {{ form(search_form) }}
    </div>

    {% if pacjentList != null %}
        {% for pacjent in pacjentList %}
        <div class="container">
            <p>
                <center>
                <h2><b>Pacjent: {{ pacjent.getId }}</b></h2>
                <b>Imię:</b> {{ pacjent.getImie }}<br>
                <b>Nazwisko:</b> {{ pacjent.getNazwisko }}<br>
                <b>Telefon:</b> {{ pacjent.getTelephone }}<br>
                </center>
            </p>
        </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}