{% extends 'logged/lekarz/main.html.twig' %}


{% block body %}
    {{  parent() }}

    <link rel="stylesheet" href="{{ asset('css/calendar.css')}}">
    <script src="{{ asset('js/calendar.js')}}"></script>
    <p>
        <center>
            <div id="calendar">
            </div>
        </center>
    </p>
    <script type="text/javascript" src="{{ asset('js/calendar.js')}}"></script>
    <script>
        var events = [];
        {% if wizytyList != null %}
            var title = [];
            var i = 0;
            var data = {{ (wizytyList[0].date)|date('Y/m/d') }};
            var y = {{ (wizytyList[0].date)|date('Y') }};
            var m = {{ (wizytyList[0].date)|date('m') }} -1;
            var d = {{ (wizytyList[0].date)|date('d') }};

            {% for wizyta in wizytyList %}
                if(data != {{ (wizyta.date)|date('Y/m/d') }}) {
                    events[i] = {'Date':
                        new Date(y, m, d),
                        'Title': title
                        };
                    i += 1;
                    title="";
                    data = {{ (wizyta.date)|date('Y/m/d') }}
                }
                title += '{{ (wizyta.time)|date('H:i') }}<br>' +
                 '{{ wizyta.imie }} {{ wizyta.nazwisko }}<br>' +
                 'Telefon: {{ wizyta.telephone}}<br>'

                y = {{ (wizyta.date)|date('Y') }};
                m = {{ (wizyta.date)|date('m') }} -1;
                d = {{ (wizyta.date)|date('d') }};
            {% endfor %}
            events[i] =
                {
                    'Date': new Date(
                        y,
                        m,
                        d
                    ), 'Title': title
                };
        {% endif %}
        var settings = {};
        var element = document.getElementById('calendar');
        calendar(element, events, settings);
    </script>
{% endblock %}