{% extends 'logged/pacjent/main.html.twig' %}


{% block body %}
    {{  parent() }}
    {% if historiaList != null %}
        {% for historia in historiaList %}
            <div class="container">
                <p>
                <center>
                    <h2><b>Diagnoza z {{( historia.date )|date('d-m-Y') }} </b></h2>
                    <b>Lekarz:</b>{{ historia.imie }} {{ historia.nazwisko }} {{ historia.telephone }}<br>
                    <b>Choroba:</b>  {{ historia.nazwa }}<br>
                </center>
                </p>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}