{% extends 'logged/pacjent/main.html.twig' %}


{% block body %}
    {{  parent() }}

    <div class="container">
        <h1>Witaj, {{ pacjent[0].imie }} {{ pacjent[0].nazwisko }}!</h1>
        <h3>Ostatnie powiadomienia:</h3>
        {% if wizytyList != null %}
            <h3>Nadchodziące wizyty!</h3>
            {% for wizyta in wizytyList %}
                <p>
                    {{ (wizyta.date)|date('d m Y') }}
                    Godzina: {{ (wizyta.time)|date('H:i') }}<br>
                    {{ wizyta.specjalizacja }} {{ wizyta.imie }} {{ wizyta.nazwisko }}<br>
                    Telefon: {{ wizyta.telephone}}<br>
                </p>
            {% endfor %}
        {% else %}
            Brak zbliżających się wizyt
        {% endif %}
    </div>

    <style>
        .container {
            font-family: Arial, sans-serif;
            text-align: center;
            overflow: hidden;
            max-width: 500px;
            margin: auto;
            top: 30px;
            position: relative;
            padding: 50px 20px;
            border: transparent;
        }

        red {
            font-family: Arial, sans-serif;
            text-align: center;
            overflow: hidden;
            color: red;
        }
    </style>

{% endblock %}