{% extends 'logged/pacjent/main.html.twig' %}


{% block body %}
    {{  parent() }}

    <div class="container">
        <h2>Wyszukaj lekarza</h2>
        {{ form(search_form) }}
    </div>

    {% if pacjentList != null %}
        {% for lekarz in pacjentList %}
            <div class="container">
                <p>
                <center>
                    <h2><b>Lekarz: {{ lekarz.getId }}</b></h2>
                    <b>Imię:</b> {{ lekarz.getImie }}<br>
                    <b>Nazwisko:</b> {{ lekarz.getNazwisko }}<br>
                    <b>Telefon:</b> {{ lekarz.getTelephone }}<br>
                </center>
                </p>
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}