{% extends 'logged/pacjent/main.html.twig' %}


{% block body %}
    {{  parent() }}

    <div class="container">
        <h2>Wyszukaj lek</h2>
        {{ form(search_form) }}
    </div>

    {% if lekiList != null %}
        {% if lekiList is empty %}
            <div class="container">
                <p>
                    Nie znaleziono leku spełniającego wymagania!
                </p>
            </div>
        {% endif %}
        {% for lek in lekiList %}
            <div class="container">
                <p>
                <center>
                    <h2><b>Lek: {{ lek.name }}</b></h2>
                    <b>Nazwa Apteki:</b> {{ lek.nameApteki }} <br>
                    <b>Adres Apteki:</b> {{ lek.miasto }}, {{ lek.ulica }} {{ lek.nrBud }} <br>
                    <b>Cena:</b>  {{( lek.cena )|number_format(2, '.') }}<br>
                    {% if lek.ilosc > 0  %}
                        <b>Dostępny</b>
                    {% else %}
                        <font color ="red"><b>Niedostępny</b></font>
                    {% endif %}
                </center>
                </p>
            </div>
        {% endfor %}
    {% endif %}


{% endblock %}